
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DataAdd</title>
</head>
<body>
    <div>
        <h2>登録しました</h2>
        @Html.ActionLink("data一覧へ", "DataList")
    </div>
</body>
</html>
